- var amountOfBooks = books.length;
- var listTitle = amountOfBooks + " Books!";
!!! 5
html
  head
    title Booklist
    link(rel='stylesheet', href='bootstrap.css')
    link(rel='stylesheet', href='main.css')
  body
    div.main-container
      div(class="alert alert-error hide text-center")
        |something went wrong while saving, please try again :(
      div(class="alert alert-success hide text-center")
        |all good, book added to list :)
      div
        h1.text-center=listTitle
          div.form-selector
            i.icon-barcode
            i.icon-pencil

      div.formPreview
        form(class="form-horizontal text-center hide" id="addBook" action="addBook" method="POST" autocomplete="off")
          fieldset
            legend Enter new books below

            div.controls
              input(placeholder="isbn" name="isbn" id="isbn" type="text")

            div.controls
              input(placeholder="Author" name="author" id="author" type="text")

            div.controls
              input(placeholder="Title" name="title" id="title" type="text")

            
            div.controls
              input(placeholder="yyyy-mm-dd" name="date" id="date" type="date")

            div.controls
              label.radio.inline
                  input(type="radio", name="book_lang", value="en", checked="")
                  |English
              label.radio.inline
                  input(type="radio", name="book_lang", value="de")
                  |Deutsch

            div.controls
              label.radio.inline
                  input(type="radio", name="book_type", value="fiction", checked="")
                  |Fiction
              label.radio.inline
                  input(type="radio", name="book_type", value="non-fiction")
                  |Non-Fiction

            div.controls
              label
                |Rate this book
              div.rating
                input(type="radio" id="star5" name="rating" value="5")
                label(class="radio" for="star5" title="Algebraic!")
                input(type="radio" id="star4" name="rating" value="4")
                label(class="radio" for="star4" title="Pretty good")
                input(type="radio" id="star3" name="rating" value="3")
                label(class="radio" for="star3" title="Ok")
                input(type="radio" id="star2" name="rating" value="2")
                label(class="radio" for="star2" title="Kinda bad")
                input(type="radio" id="star1" name="rating" value="1")
                label(class="radio" for="star1" title="Nope!")

            div.controls.mySubmit
              button(id="addBookBtn" type="submit" class="btn btn-primary btn-large") Add this book!

        div.preview-box.hide
          div.img-container
          div.description

      div.list-container 
        table.center-table.list-wrapper.table.table-condensed
          thead
            tr
              th #
              th Title 
              th Author
              th Date Added
              th Type
              th Lang
              th Rating
              th Cover
          for book in books
            tr
              td= amountOfBooks
              td= book.title
              td= book.author
              td= book.date
              td= book.type
              td= book.lang
              td(data-rating=book.rating)
              td: img(src=book.coverLink)
            - amountOfBooks--;
          else
            tr sorry, no books!
  script.
    var books =!{JSON.stringify(books)}
  script(src="xhr.js")
  script(src="main.js")
