- var amountOfBooks = books.length;
for book in books
  tr
    td=amountOfBooks
    td= book.title
    td= book.author
    td= book.date
    td= book.type
    td= book.lang
    td(data-rating=book.rating)
    td: img(class='img-polaroid' src=book.coverLink)
    td
      a(class='delete', rel!=book._id)
        | delete
  - amountOfBooks--;
else
  tr sorry, no books!
