- var amountOfBooks = books.length;
for book in books
  tr
    td=amountOfBooks
    td= book.title
    td= book.author
    td= book.date
    td= book.type
    td= book.lang
    td(data-rating=book.rating)
    td: img(class='img-thumbnail' src=book.coverLink)
    td
      a(class='delete', href="/delete", rel!=book._id)
        span(class="fa fa-trash-o fa-2x")
  - amountOfBooks--;
else
  tr
    td(class="text-center" colspan="9")
      h2 You have no books yet, get starting! :)
